<div class="d-flex justify-content-center mt-4">
  <div class="col-lg-6 d-flex flex-column">
    <p class="lead">Please enter your email below to reset your password</p>
    <div class="form-div">
      <input
        type="email"
        class="form-control my-3"
        id="email"
        name="email"
        placeholder="name@domain.com"
        required
        #email
      />
      <button
        class="btn btn-primary d-block"
        (click)="authService.ForgotPassword(email.value)"
      >
        Reset password
      </button>
    </div>
  </div>
</div>
