<div
  class="d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <!-- <div
    class="col-lg-2 offset bg-info h-75"
    style="border-radius: 5px 0 0 5px"
  ></div> -->
  <div
    class="col-lg-6 d-flex flex-column justify-content-center bg-white h-75 px-5"
    style="
      border-radius: 5px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    "
  >
    <p class="lead">User Account Management</p>
    <form (ngSubmit)="onSignUp(form)" #form="ngForm">
      <div class="form-group mb-2">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          class="form-control"
          id="email"
          [pattern]="authService.emailRegex"
          ngModel
          required
          #email="ngModel"
        />
      </div>
      <div class="form-group mb-2">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
          [pattern]="authService.emailRegex"
          ngModel
          required
          #password="ngModel"
        />
      </div>
      <div class="form-group mb-2">
        <label for="confirmPassword">Confirm password</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          name="confirmPassword"
          ngModel
          required
          #confirmPassword="ngModel"
        />
      </div>
      <div *ngIf="email.touched && !email.valid">
        Please enter a valid email address
      </div>
      <div
        *ngIf="
          confirmPassword.touched && password.value != confirmPassword.value
        "
      >
        Please re-enter your password correctly
      </div>
      <div *ngIf="password.touched && !password.valid">
        <p>
          Please enter a strong password. It should satisfy these conditions:
        </p>
        <ul>
          <li *ngFor="let cond of authService.passwordConditions">
            {{ cond.description
            }}<i
              *ngIf="!cond.regex.test(password.value)"
              class="fa-solid fa-xmark"
              style="color: red"
            ></i>
            <i
              *ngIf="cond.regex.test(password.value)"
              class="fa-solid fa-check"
              style="color: green"
            ></i>
          </li>
        </ul>
      </div>
      <div class="text-danger">{{ message }}</div>
      <div class="d-flex flex-column align-items-center mt-3">
        <button class="btn btn-primary w-100" type="submit">Submit</button>
        <div class="my-2">or</div>
        <a class="btn btn-primary w-100" routerLink="/sign-in">Log in</a>
      </div>
    </form>
  </div>
</div>
