<div
  class="d-flex justify-content-center align-items-center"
  style="min-height: 100vh"
>
  <div class="card-wrapper col-lg-7">
    <div
      class="card my-4 p-4"
      style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; border: none"
    >
      <div class="text-center">
        <img
          class="card-img-top mt-4"
          [src]="userData?.photoURL"
          alt="Profile picture"
          style="
            max-width: 300px;
            height: auto;
            object-fit: cover;
            border-radius: 10%;
            position: relative;
          "
        />
      </div>
      <div class="card-body">
        <div class="title-elements d-flex flex-column align-items-center">
          <h5 class="card-title text-center">
            {{ (userData?.firstName ?? "") + " " + (userData?.lastName ?? "") }}
            <i
              *ngIf="verificationStatus == 3"
              data-toggle="tooltip"
              title="Verified"
              class="fa-solid fa-circle-check"
              style="color: #33b5e5"
            ></i>
            <i
              *ngIf="verificationStatus == 1"
              class="fa-solid fa-circle-xmark"
              data-toggle="tooltip"
              title="Provide proof of identity to get verified"
              style="color: #df4759"
            ></i>
            <i
              *ngIf="verificationStatus == 2"
              class="fa-solid fa-clock"
              data-toggle="tooltip"
              title="Verification pending"
              style="color: #f0ad4e"
            ></i>
          </h5>
        </div>
        <hr />
        <p *ngIf="!complete">Please complete your profile!</p>
        <p *ngIf="verificationStatus == 1">
          You must provide your
          <strong>National Identification</strong> or
          <strong>Passport</strong> number <u>and</u> corresponding
          <strong>official document</strong> to get verified.
        </p>
        <h5 class="text-info">Basic information</h5>
        <div>
          <div class="form-group">
            <label for="firstName">First name</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="userData.firstName"
            />
          </div>
          <div class="form-group mb-2">
            <label for="firstName">Last name</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="userData.lastName"
            />
          </div>
          <div class="form-group mb-2">
            <label for="firstName">Profile picture URL</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="userData.photoURL"
            />
          </div>
          <div class="d-flex align-items-center">
            <div class="me-2" style="margin-top: 2px">Gender:</div>
            <div class="form-check me-2" style="margin-top: 5px">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="female"
                value="female"
                [checked]="userData.gender == 'female'"
                [(ngModel)]="userData.gender"
              />
              <label class="form-check-label" for="female">Female</label>
            </div>
            <div class="form-check" style="margin-top: 5px">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="male"
                value="male"
                [checked]="userData.gender == 'male'"
                [(ngModel)]="userData.gender"
              />
              <label class="form-check-label" for="male">Male</label>
            </div>
          </div>
          <div class="marital-status mt-3">
            <select
              class="form-select"
              name="marital-status"
              [(ngModel)]="userData.maritalStatus"
            >
              <option selected value="null">Select your marital status</option>
              <option
                value="single"
                [selected]="userData.maritalStatus == 'single'"
              >
                Single
              </option>
              <option
                value="married"
                [selected]="userData.maritalStatus == 'married'"
              >
                Married
              </option>
              <option
                value="divorced"
                [selected]="userData.maritalStatus == 'divorced'"
              >
                Divorced
              </option>
              <option
                value="widowed"
                [selected]="userData.maritalStatus == 'widowed'"
              >
                Widowed
              </option>
            </select>
          </div>
          <div class="dob mt-3">
            <label for="dob">Date of Birth </label>
            <input
              type="date"
              id="date"
              class="form-control"
              [placeholder]="userData.dob"
            />
          </div>
          <div class="nationality mt-3">
            <select class="form-select">
              <option selected value="null">
                Select the country of your nationality
              </option>
              <option
                *ngFor="let country of countries"
                [value]="country.code"
                [selected]="userData.nationality == country.code"
              >
                {{ country.name }}
              </option>
            </select>
          </div>
        </div>
        <h5 class="text-info mt-3">ID and Official Document</h5>
        <div class="d-flex align-items-center">
          <div class="me-2" style="margin-top: 1px">Select ID type:</div>
          <div class="form-check me-2" style="margin-top: 5px">
            <input
              class="form-check-input"
              type="radio"
              name="id-type"
              id="nid"
              value="National ID"
              [(ngModel)]="idType"
            />
            <label class="form-check-label" for="nid">National ID</label>
          </div>
          <div class="form-check" style="margin-top: 5px">
            <input
              class="form-check-input"
              type="radio"
              name="id-type"
              id="passport"
              value="Passport"
              [(ngModel)]="idType"
            />
            <label class="form-check-label" for="passport">Passport</label>
          </div>
        </div>
        <div class="form-group mt-2" *ngIf="idType !== ''">
          <label for="id-value">{{ idType }} Number</label>
          <input type="text" id="id-value" class="form-control" />
        </div>
        <div class="mt-2" *ngIf="idType !== ''">
          <label for="id-file" class="form-label"
            >Upload your {{ idType }}'s image</label
          >
          <input class="form-control" type="file" id="id-file" />
        </div>
        <button class="btn btn-warning mt-4 me-4" (click)="discardChanges()">
          Discard changes
        </button>
        <button class="btn btn-primary mt-4 me-4" (click)="saveChanges()">
          Save changes
        </button>
        <button class="btn btn-danger mt-4" (click)="authService.SignOut()">
          Log out
        </button>
      </div>
    </div>
  </div>
</div>
